.reveal .drop-clip {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.reveal .drop {
  position: relative;
  transition: all .25s ease-in-out;
  bottom: 100%;
  background-color: var(--quarto-body-bg);
  color: var(--quarto-body-color);
  box-shadow: inset 0px 0px 0px 1px var(--quarto-border-color);
  z-index: 5;
}

.reveal .drop.active {
  transition: all .25s ease-in-out;
  bottom: 0;
}

.reveal .drop-button {
  position: fixed;
  z-index: 30;
  bottom: 6px;
  left: 54px;
}

.reveal .drop-button~.slide-chalkboard-buttons.slide-menu-offset {
  left: 95px;
}

@media screen and (max-width: 800px) {
  .reveal .drop-button a>svg {
    width: 18px;
    height: 18px;
  }
  .reveal .drop-button {
    bottom: 3px;
    left: 36px;
  }
  .reveal .drop-button~.slide-chalkboard-buttons.slide-menu-offset {
    left: 62px;
  }
}

@media print {
  .reveal .drop-clip, .drop-button {
    display: none!important;
  }
}
