#editor {
  position: relative;
}

.editor-container {
  flex: 1;
  overflow: auto;
}

.editor-header {
  display: flex;
  justify-content: end;
  align-items: center;
  border-bottom: 1px solid var(--quarto-text-muted);
}

.editor-actions {
  line-height: 0;
}

.editor-actions>button {
  background-color: transparent;
  border: none;
  color: var(--quarto-text-muted);
  padding: 8px 5px;
  font-size: 16px;
}

.editor-actions>button:hover {
  color: var(--quarto-body-color);
}

.d-none {
  display: none !important;
}

.quarto-light {
  --cm-primary-rgb: "13, 110, 253";
  --cm-default: #dee2e6;
  --cm-cap-bg: #f8f8f8;
  --cm-line-bg: rgba(var(--cm-primary-rgb), 0.05);
  --cm-line-gutter-bg: rgba(var(--cm-primary-rgb), 0.1);
}

.quarto-dark {
  --cm-primary-rgb: "55, 90, 127";
  --cm-default: #434343;
  --cm-cap-bg: #505050;
  --cm-line-bg: rgba(var(--cm-primary-rgb), 0.2);
  --cm-line-gutter-bg: rgba(var(--cm-primary-rgb), 0.4);
}

.reveal .drop .cm-editor {
  border: none;
  outline: none;
  height: 100%;
  font-size: 22px;
  color: var(--quarto-body-color);
  background-color: var(--quarto-body-bg);
}

.reveal .drop .cm-content {
  caret-color: var(--quarto-body-color);
}

.reveal .drop .cm-cursor,
.reveal .drop .cm-dropCursor {
  border-left-color: var(--quarto-body-color);
}

.reveal .drop .cm-focused .cm-selectionBackgroundm .cm-selectionBackground,
.reveal .drop .cm-content ::selection {
  border: none;
  outline: none;
  background-color: rgba(var(--cm-primary-rgb), 0.1);
}

.reveal .drop .cm-activeLine {
  background-color: var(--cm-line-bg);
}

.reveal .drop .cm-activeLineGutter {
  background-color: var(--cm-line-gutter-bg);
}

.reveal .drop .cm-gutters {
  background-color: var(--cm-cap-bg);
  color: var(--quarto-body-color);
  border-right: 1px solid var(--cm-default);
}

/* Syntax Highlighting */
:root {
  --cm-editor-hl-al: var(--quarto-hl-al-color, #AD0000);
  --cm-editor-hl-an: var(--quarto-hl-an-color, #5E5E5E);
  --cm-editor-hl-at: var(--quarto-hl-at-color, #657422);
  --cm-editor-hl-bn: var(--quarto-hl-bn-color, #AD0000);
  --cm-editor-hl-ch: var(--quarto-hl-ch-color, #20794D);
  --cm-editor-hl-co: var(--quarto-hl-co-color, #5E5E5E);
  --cm-editor-hl-cv: var(--quarto-hl-cv-color, #5E5E5E);
  --cm-editor-hl-cn: var(--quarto-hl-cn-color, #8f5902);
  --cm-editor-hl-cf: var(--quarto-hl-cf-color, #003B4F);
  --cm-editor-hl-dt: var(--quarto-hl-dt-color, #AD0000);
  --cm-editor-hl-dv: var(--quarto-hl-dv-color, #AD0000);
  --cm-editor-hl-do: var(--quarto-hl-do-color, #5E5E5E);
  --cm-editor-hl-er: var(--quarto-hl-er-color, #AD0000);
  --cm-editor-hl-fl: var(--quarto-hl-fl-color, #AD0000);
  --cm-editor-hl-fu: var(--quarto-hl-fu-color, #4758AB);
  --cm-editor-hl-im: var(--quarto-hl-im-color, #00769E);
  --cm-editor-hl-in: var(--quarto-hl-in-color, #5E5E5E);
  --cm-editor-hl-kw: var(--quarto-hl-kw-color, #003B4F);
  --cm-editor-hl-op: var(--quarto-hl-op-color, #5E5E5E);
  --cm-editor-hl-ot: var(--quarto-hl-ot-color, #003B4F);
  --cm-editor-hl-pp: var(--quarto-hl-pp-color, #AD0000);
  --cm-editor-hl-sc: var(--quarto-hl-sc-color, #5E5E5E);
  --cm-editor-hl-ss: var(--quarto-hl-ss-color, #20794D);
  --cm-editor-hl-st: var(--quarto-hl-st-color, #20794D);
  --cm-editor-hl-va: var(--quarto-hl-va-color, #111111);
  --cm-editor-hl-vs: var(--quarto-hl-vs-color, #20794D);
  --cm-editor-hl-wa: var(--quarto-hl-wa-color, #5E5E5E);
}

*[data-bs-theme="dark"] {
  --cm-editor-hl-al: var(--quarto-hl-al-color, #f07178);
  --cm-editor-hl-an: var(--quarto-hl-an-color, #d4d0ab);
  --cm-editor-hl-at: var(--quarto-hl-at-color, #00e0e0);
  --cm-editor-hl-bn: var(--quarto-hl-bn-color, #d4d0ab);
  --cm-editor-hl-bu: var(--quarto-hl-bu-color, #abe338);
  --cm-editor-hl-ch: var(--quarto-hl-ch-color, #abe338);
  --cm-editor-hl-co: var(--quarto-hl-co-color, #f8f8f2);
  --cm-editor-hl-cv: var(--quarto-hl-cv-color, #ffd700);
  --cm-editor-hl-cn: var(--quarto-hl-cn-color, #ffd700);
  --cm-editor-hl-cf: var(--quarto-hl-cf-color, #ffa07a);
  --cm-editor-hl-dt: var(--quarto-hl-dt-color, #ffa07a);
  --cm-editor-hl-dv: var(--quarto-hl-dv-color, #d4d0ab);
  --cm-editor-hl-do: var(--quarto-hl-do-color, #f8f8f2);
  --cm-editor-hl-er: var(--quarto-hl-er-color, #f07178);
  --cm-editor-hl-ex: var(--quarto-hl-ex-color, #00e0e0);
  --cm-editor-hl-fl: var(--quarto-hl-fl-color, #d4d0ab);
  --cm-editor-hl-fu: var(--quarto-hl-fu-color, #ffa07a);
  --cm-editor-hl-im: var(--quarto-hl-im-color, #abe338);
  --cm-editor-hl-in: var(--quarto-hl-in-color, #d4d0ab);
  --cm-editor-hl-kw: var(--quarto-hl-kw-color, #ffa07a);
  --cm-editor-hl-op: var(--quarto-hl-op-color, #ffa07a);
  --cm-editor-hl-ot: var(--quarto-hl-ot-color, #00e0e0);
  --cm-editor-hl-pp: var(--quarto-hl-pp-color, #dcc6e0);
  --cm-editor-hl-re: var(--quarto-hl-re-color, #00e0e0);
  --cm-editor-hl-sc: var(--quarto-hl-sc-color, #abe338);
  --cm-editor-hl-ss: var(--quarto-hl-ss-color, #abe338);
  --cm-editor-hl-st: var(--quarto-hl-st-color, #abe338);
  --cm-editor-hl-va: var(--quarto-hl-va-color, #00e0e0);
  --cm-editor-hl-vs: var(--quarto-hl-vs-color, #abe338);
  --cm-editor-hl-wa: var(--quarto-hl-wa-color, #dcc6e0);
}

.reveal .drop .cm-editor span.tok-keyword {
  color: var(--cm-editor-hl-kw);
}

.reveal .drop .cm-editor span.tok-operator {
  color: var(--cm-editor-hl-op);
}

.reveal .drop .cm-editor span.tok-definitionOperator {
  color: var(--cm-editor-hl-ot);
}

.reveal .drop .cm-editor span.tok-compareOperator {
  color: var(--cm-editor-hl-ot);
}

.reveal .drop .cm-editor span.tok-attributeName {
  color: var(--cm-editor-hl-at);
}

.reveal .drop .cm-editor span.tok-controlKeyword {
  color: var(--cm-editor-hl-cf);
}

.reveal .drop .cm-editor span.tok-comment {
  color: var(--cm-editor-hl-co);
}

.reveal .drop .cm-editor span.tok-string {
  color: var(--cm-editor-hl-st);
}

.reveal .drop .cm-editor span.tok-string2 {
  color: var(--cm-editor-hl-ss);
}

.reveal .drop .cm-editor span.tok-variableName {
  color: var(--cm-editor-hl-va);
}

.reveal .drop .cm-editor span.tok-bool,
.reveal .drop .cm-editor span.tok-literal,
.reveal .drop .cm-editor span.tok-separator {
  color: var(--cm-editor-hl-cn);
}

.reveal .drop .cm-editor span.tok-bool,
.reveal .drop .cm-editor span.tok-literal {
  color: var(--cm-editor-hl-cn);
}

.reveal .drop .cm-editor span.tok-number,
.reveal .drop .cm-editor span.tok-integer {
  color: var(--cm-editor-hl-dv);
}

.reveal .drop .cm-editor span.tok-function-variableName {
  color: var(--cm-editor-hl-fu);
}

.reveal .drop .cm-editor span.tok-function-attributeName {
  color: var(--cm-editor-hl-at);
}
